<div class="form">
    <div class="main-form">
        <div class="main-form__header">
            {{headerLogin}}
        </div>
        <div class="main-form__input-header">
            {{inputLogin}}
        </div>
        <input id="inputLogin" class="main-form__input-field" type='text' placeholder="введите логин">
        <div class="main-form__input-header">
            Пароль
        </div>
        <input id="inputPassword" class="main-form__input-field" type="password" placeholder="введите пароль">
        <button class="main-form__btn" data-destination="/authtorisation">Авторизация</button>
        <button class="main-form__registerUrl" data-destination="/register">нет аккаунта?</button>
    </div>
</div>