<div id="loginPage" class="form">
    <div class="main-form">
        <div class="main-form__header">
            {{headerLogin}}
        </div>
        <div class="main-form__input-header">
            Login
        </div>
            {{inputLogin}}
        <div class="main-form__input-header">
            Password
        </div>
        <input id="inputPassword" class="main-form__input-field" type="password">
        <button class="main-form__btn">
            <a class="main-form__btn-text" href="/src/pages/chat.html">Авторизоваться</a>
        </button>
        <a class="main-form__registerUrl" href="/src/pages/register/register.hbs">нет аккаунта?</a>
    </div>
</div>