@use "../../styles/_variables.scss" as vars;

.input {
    font-size: vars.$main-input-font;
    line-height: vars.$input-line-height-default;
    font-family: vars.$base-font;
    padding: 7px 5px;
    width: 100%;
    background-color: vars.$background-transparent;
    box-shadow: vars.$form-shadow;

    &:hover {
        border-top: vars.$input-boder-hover-color solid 1px;
        border-right: vars.$input-boder-hover-color solid 1px;
    }

    &:focus {
        border-color: vars.$input-border-focus-color;
    }

    &__label {
        margin-left: 3px;
        color: vars.$font-color-default;
        font-size: vars.$input-label-font-size-default;
        line-height: vars.$input-label-line-height-default;
    }

    &__container {
        width: 100%;
    }

    &__container:not(:last-child) {
        margin-bottom: 16px;
    }

    &__error {
        color: vars.$font-color-error;
        font-size: vars.$input-font-error-size-default;
        font-weight: 400;
        line-height: 10px;

        &--active {
            margin-top: 7px;
        }
    }

    &--error {
        border: 1px solid vars.$input-border-error-color;

        &:hover {
            border: 1px solid vars.$input-border-error-color;
        }

        &:focus {
            border-color: vars.$input-border-error-focus-color;
        }
        
    }
}
