@use "../../styles/_variables.scss" as vars;

.link {
    font-size: vars.$link-font-size-default;
    line-height: 13px;
    color: vars.$font-color-alt;

    &:hover {
        color: vars.$base-hover-color;
    }
}
