@use "../../styles/_variables.scss" as vars;

.register__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .input--last {
        margin-bottom: 52px;
    }
}
