@use "../../styles/_variables.scss" as vars;

//main button
.primary-button {
    width: 280px;
    font-size: vars.$main-button-font;
    line-height: vars.$button-line-height-default;
    padding: 12px 70px;
    text-align: center;
    background-color: vars.$button-main-color;
    border-radius: vars.$button-border-radius;
    color: vars.$font-color-reverse;
    box-shadow: vars.$form-shadow;
    font-family: vars.$base-font;
    transition: all ease-in-out 0.2s;
    margin-bottom: 15px;
    cursor: pointer;

    &:hover {
        background-color: vars.$button-hover-color;
    }
}

//icon button
.icon-button {
    background-color: vars.$background-alt;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        background-color: vars.$background-alt-hover;
    }
}
