@use "../../styles/_variables.scss" as vars;

.primary-button {
    width: 280px;
    font-size: 13px;
    line-height: 13px;
    padding: 12px 70px;
    text-align: center;
    background-color: vars.$button-main-color;
    border-radius: 8px;
    color: #fff;
    font-family: Inter, sans-serif;
    transition: all ease-in-out 0.2s;
    margin-bottom: 15px;
    cursor: pointer;
    box-shadow: vars.$form-shadow;

    &:hover {
        font-family: Inter, sans-serif;
        background-color: vars.$button-hover-color;
    }
}

// .icon-button {
//     background-color: vars.$primary-color;
//     height: 28px;
//     width: 28px;
//     cursor: pointer;
//     border-radius: 50%;
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     &:hover {
//         // background-color: vars.$primary-color-hover;
//     }
// }
