@use "../../styles/variables" as vars;

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 340px;
    border: 1px solid vars.$base-border-color;
    box-shadow: vars.$form-shadow;
    border-radius: 12px;
    padding: 50px 30px 30px;
    background-color: vars.$base-background-color;

    &__title {
        font-size: 20px;
        line-height: 20px;
        font-style: normal;
        text-align: center;
        margin-bottom: 40px;
    }
}
