<div class="chat-form">
    <div class="chat-form__left-menu">
        <div class="chat-form__profile">
            {{ profile }}
            <div class="chat-profile-icon" src="/middle.messenger.praktikum.yandex/src/styles/icons/arrow-back.svg"></div>
        </div>
        <div class="chat-form__search-form">
            <input class="chat-form__search" type='text' placeholder="поиск">
        </div>
        <div class="chat-form__contacts">
            <div class="chat-form__contact-form">Contact1
                <img src="/middle.messenger.praktikum.yandex/src/styles/icons/avatar-border.svg">
                {{!-- <div class="chat-form__avatar" src="/middle.messenger.praktikum.yandex/src/styles/icons/avatar-border.svg">AVATAR</div> --}}
                <div>
                    <div>NAME</div>
                    <div>LAST MESSAGE</div>
                </div>
                <div>timeDATE</div>
            </div>
        </div>
    </div>
    <div class="chat-form__contact-menu">
        <div>
            <div class="chat-form__checked-contact">vasily</div>
            <button class="chat-form__contact-add-delete"></button>
        </div>
        <div class="chat-form__messages">
            <div class="chat-form__message-form">
                <div>date</div>
                <div>text</div>
                <div>picture</div>
            </div>
        </div>
        <div class="create-message">
            <div class="create-message__add-file"></div>
            <div class="create-message__message-text-field"></div>
            <button class="create-message__send-message">ICON</button>
        </div>
    </div>
</div>