//main
$transparent-default: transparent;
$white: rgb(255 255 255 / 100%);
$black: rgb(9 5 23 / 100%);
$purple-hard-transparent: rgb(86 3 173 / 10%);
$purple-extra-light-alt: rgb(90 4 165 / 20%);
$purple-extra-light: rgb(136 1 255 / 25%);
$purple-light: rgb(136 1 255);
$purple: rgb(85 3 173 / 74.9%);
$purple-dark: rgb(56 1 115);
$grey-light: rgb(115 114 114 / 50%);
$grey-light-transparent: rgb(115 114 114 / 10%);
$grey: rgb(131 130 130 / 100%);
$grey-dark: rgb(105 104 104);
$red: rgb(255 0 0 / 100%);
$red-dark: rgb(173 0 0);
$red-light: rgb(245 22 22);

//shadows
$base-shadow: 0 0 6px rgb(0 0 0 / 14%);
