//main
$transparent-default: transparent;
$white: rgba(255, 255, 255, 1);
$black: rgba(9, 5, 23, 1);

$purple-hard-transparent: rgba(86, 3, 173, 0.1);
$purple-extra-light-alt: rgba(90, 4, 165, 0.2);
$purple-extra-light: rgba(136, 1, 255, 0.25);
$purple-light: rgb(136, 1, 255);
$purple: rgba(85, 3, 173, 0.749);
$purple-dark: rgb(56, 1, 115);

$grey-light: rgba(115, 114, 114, 0.5);
$grey-light-transparent: rgba(115, 114, 114, 0.1);
$grey: rgba(131, 130, 130, 1);
$grey-dark: rgb(105, 104, 104);

$red: rgba(255, 0, 0, 1);
$red-dark: rgb(173, 0, 0);
$red-light: rgb(245, 22, 22);



//shadows
$base-shadow: 0 0 6px rgb(0 0 0 / 14%);
