//main
$white: rgba(255, 255, 255, 1);
$black: rgba(9, 5, 23, 1);
$purple: rgba(85, 3, 173, 0.75);
$purple-light: rgb(136, 1, 255);
$purple-dark: rgb(56, 1, 115);
$grey: rgba(131, 130, 130, 1);
$red: rgba(255, 0, 0, 1);
$red-dark: rgb(173, 0, 0);
$red-light: rgb(245, 22, 22);


$grey-light: rgba(115, 114, 114, 0.5);
$purple-hard-transparent: rgba(86, 3, 173, 0.1);

//shadows
$base-shadow: 0 0 6px rgb(0 0 0 / 14%);
