@import "colors";
@import "./fonts/sizes";

//base colors *!нужно реструктурировать по типу объект-тип-вариант
$button-main-color: $purple-dark;
$button-hover-color:$purple;
$base-hover-color:$purple;
$base-border-color:$purple-dark;
$form-shadow: $base-shadow;
$base-background-message-color: $grey-light;
$base-background-color: $white;

//base-color
$base-color-purple: $purple-dark;
$base-color-purple-light: $purple-light;
$base-color-red: $red;
$base-color-transparent: $transparent-default;


//border
$input-border-base-color: $purple;
$input-border-error-color: $red;
$input-border-error-hover-color: $red-dark;
$input-border-error-focus-color: $red-light;
$input-border-focus-color: $purple-light;
$input-boder-hover-color: $purple-light;
$chat-list-border-default: $purple-dark;

//border-radius
$button-border-radius: 10px;

//sizes main for components and pages
$main-button-font: $font-size-14;
$main-input-font: $font-size-14;
$input-label-font-size-default: $font-size-10;
$input-font-error-size-default: $font-size-10;
$input-label-line-height-default: $line-height-10;
$link-font-size-default: $font-size-14;

//font size
$typography-font-large-50: $font-size-50;
$typography-font-medium-20: $font-size-20;
$typography-font-medium-14: $font-size-14;
$typography-font-small-12: $font-size-12;
$typography-font-small-10: $font-size-10;

//

//font color
$font-color-default: $black;
$font-color-reverse: $white;
$font-color-alt: $purple-dark;
$font-color-alt-light: $purple-light;
$font-color-error: $red;

//line height
$input-line-height-default: $line-height-14;
$button-line-height-default: $line-height-14;

//background color
$background-transparent: $transparent-default;
$background-default: $white;
$background-alt: $purple-dark;
$background-alt-hover: $purple-light;
$background-chat-message: $purple-extra-light;
$background-chat-message-alt: $purple-extra-light-alt;
$background-message-grey: $grey-light-transparent;
// $background-contact-color: $purple-extra-light-alt;

//main font family
$base-font: Roboto Flex, Inter, sans-serif;
