@import "colors";
//base
$base-text-color: $black;
$button-main-color: $purple-dark;
$button-hover-color:$purple;
$base-hover-color:$purple;
$base-text-color-alt: $purple-dark;
$base-border-color:$purple-dark;
$form-shadow: $base-shadow;
// $gray-color: rgb(153 153 153 / 100%);
// $gray-color-light: #eaeaea;
// $gray-color-medium: #efefef;
// $primary-color: red;
// $primary-color-hover: rgb(219 112 147 / 75%);
// $primary-color-pale: rgb(252 232 229 / 50.2%);
// $primary-color-selected: #fce8e5;
$error-color-font: $red;


//border
$input-border-base-color: $purple;
$input-border-error-color: $red;
$input-border-error-hover-color: $red-dark;
$input-border-error-focus-color: $red-light;
$input-border-focus-color: $purple-light;
$input-boder-hover-color: $purple-light;
// $white: rgba(255, 255, 255, 1);
// $black: rgba(9, 5, 23, 1);
// // $purple: rgba(86, 3, 173, 1);
// $grey: rgba(131, 130, 130, 1);
// $red: rgba(255, 0, 0, 1);
//

//hover


// //shade
// $grey-light: rgba(115, 114, 114, 0.5);
// $purple-light: rgba(86, 3, 173, 0.1);

// //shadows