//global colors
$base-puprle: #8805ff;
$base-black: #090517;
$base-white: #ffffff;
$base-light-gray: #F8F8F8;
$base-gray: #838282;
$base-light-blue: #E4EDFD;
$base-red: #ff0000;
$transparent-default: transparent;
