
$white: rgba(255, 255, 255, 1);
$black: rgba(9, 5, 23, 1);
$purple: rgba(86, 3, 173, 1);
$grey: rgba(131, 130, 130, 1);
$red: rgba(255, 0, 0, 1);

//shade
$grey-light: rgba(115, 114, 114, 0.5);
$purple-light: rgba(86, 3, 173, 0.1);

//shadows

