<div class="main-list">
  <h1 class="main-list__header">Список страниц</h1>
      <button class="button" data-destination="/login">Авторизация</button>
      <button class="button" data-destination="/register">Регистрация</button>
      <button class="button" data-destination="/chat">Список чатов</button>
      <button class="button" data-destination="/userOpt">Настройка пользователей</button>
      <button class="button" data-destination="/notFound">Страница 404</button>       
</div>