@import 'src/styles/color.scss';
@import 'src/styles/typography.scss';
@import 'src/pages/login/login.scss';
@import 'src/pages/register/register.scss';
@import 'src/pages/notFound/notFound.scss';
@import 'src/pages/chat/chat.scss';
@import 'src/pages/userOpt/userOptions.scss';
@import 'src/pages/changePassword/changePassword.scss';

body {
    margin:0;
    padding:0;
}
.main-list {
    display:block;
    width: 400px;
    height: 540px;
    border-radius: 15px;
    border: 5px solid $purple;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    text-align: center;
    

    &__header {
        font-size: $max-size;
        width: 260px;
        height: 40px;
        text-align: center;
        font-weight: 700;
        margin-left: 70px;
        margin-top: 75px;
        padding-bottom: 68px;
    };
}
.button {
    display: flex;
    width: 260px;
    height: 40px;
    color: $white;
    font-family: Roboto Flex;
    font-size: $medium-size;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
    text-align: center;
    margin-left: 70px;
    background-color: $purple;
    border: 2px solid $purple-light;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
};

.button:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 2px $purple-light;
}

