<nav class="main-list">
  <ul class="main-list__header">Список страниц</ul>
    <li class="list-element">
      <button class="button" data-destination="/login">Авторизация</button>
    </li>
    <li class="list-element">
      <button class="button" data-destination="/register">Регистрация</button>
    </li>
    <li class="list-element">
      <button class="button" data-destination="/chat">Список чатов</button>
    </li>
    <li class="list-element">
      <button class="button" data-destination="/userOpt">Настройка пользователей</button>
    </li>
    <li class="list-element">
      <button class="button" data-destination="/changePassword">Смена пароля</button>
    </li>
    <li class="list-element">
      <button class="button" data-destination="/notFound">Страница 404</button> 
    </li>      
</nav>
