@use "../../styles/_variables.scss" as vars;

.chats-list {
    &__container {
        width: 310px;
        min-width: 310px;
        height: 100%;
        background-color: vars.$base-background-color;
        padding: 21px 10px 0;
    }

    &__profile-link {
        display: block;
        color: vars.$font-color-alt;
        font-size: vars.$typography-font-small-12;
        line-height: 12px;
        font-family: Inter, sans-serif;
        margin-left: auto;
        text-align: right;
        margin-bottom: 23px;
        &:hover {
            color: vars.$font-color-alt-light;
        }
    }

    &__search {
        background-color: vars.$background-message-grey;
        padding: 10px;
        border-radius: 5px;
        width: 100%;
        position: relative;
        font-size: vars.$typography-font-small-12;
        line-height: 12px;
        color: vars.$font-color-default;
        margin-bottom: 14px;
    }

    &__search::placeholder {
        content: "Поиск";
        text-align: center;
        background-image: url("../../assets/icons/search.svg");
        background-repeat: no-repeat;
        background-position: 38% 0;
    }

    &__persons-container {
        height: calc(100vh - 104px);
        overflow: hidden;
        overflow-y: auto;
    }

    &__persons-container::-webkit-scrollbar {
        width: 3px;
    }

    &__persons-container::-webkit-scrollbar-thumb {
        background-color: vars.$base-color-purple;

        &:hover {
            background-color: vars.$base-color-purple-light;
        }
    }

    &__persons-container::-webkit-scrollbar-track {
        background-color: vars.$base-color-transparent;
    }
}

.profile-link__image {
    margin-left: 4px;
}

.persons {
    &__item {
        padding: 12px 0;
        border-top: solid 1px vars.$chat-list-border-default;
        cursor: pointer;
        display: flex;
        height: 67px;
        position: relative;

        &:last-child {
            border-bottom: solid 1px vars.$chat-list-border-default;
        }

        .item {
            &__avatar {
                width: 47px;
                height: 47px;
                border-radius: 50%;
                margin-right: 10px;
                object-fit: cover;
            }

            &__title {
                margin-bottom: 4px;
                font-size: vars.$typography-font-medium-14;
                line-height: 13px;
            }

            &__text-container {
                width: 193px;
                margin-right: 16px;
            }

            &__text {
                font-size: vars.$typography-font-small-12;
                line-height: 14px;
                color: vars.$font-color-default;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                &--bold {
                    color: vars.$font-color-default;
                }
            }

            &__additional {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                position: absolute;
                padding: 12px 5px;
                right: 0;
                top: 0;

                .additional {
                    &__new-messenges-container {
                        width: 20px;
                        height: 20px;
                        background-color: vars.$base-color-purple;
                        border-radius: 50%;
                        display: flex;
                        position: relative;
                    }

                    &__new-messenges {
                        position: absolute;
                        width: 12px;
                        height: 12px;
                        font-size: vars.$typography-font-small-10;
                        line-height: 12px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;
                        align-self: center;
                        color: vars.$base-background-color;
                    }

                    &__date {
                        font-size: vars.$typography-font-small-10;
                        line-height: 13px;
                        color: vars.$font-color-default;
                        margin-bottom: 12px;
                    }
                }
            }
        }
    }

    &__item:hover {
        background-color: vars.$background-message-grey;
    }
}
