<div class="main-error">
    <div class="main-error__head">
    {{Error}}
    </div>
    <div class="main-error__wrong-way">
        {{wrongWay}}
    </div>
    <button class="main-error__back-btn" data-destination="/chat">{{back}}</button>
</div>
